# In-tree kernel configs. Note that these configs are only applied to
# non-GKI modules. Make sure they're compatible with GKI.
CONFIG_REGULATOR_RT4801=m
CONFIG_REGULATOR_TPS65132=m
CONFIG_BACKLIGHT_LP855X=m
CONFIG_LEDS_PWM=m

# private/google-modules/touch/common/Kconfig
CONFIG_TOUCHSCREEN_HEATMAP=m
CONFIG_TOUCHSCREEN_TBN=m
CONFIG_TOUCHSCREEN_OFFLOAD=m
CONFIG_GOOG_TOUCH_INTERFACE=m
CONFIG_GOOG_USI_STYLUS=m
