// SPDX-License-Identifier: GPL-2.0-only
/*
 * zuma camera lwis device tree for tegu
 *
 * Copyright 2023 Google LLC.
 *
 */

#include <dt-bindings/clock/zuma.h>
#include <dt-bindings/gpio/gpio.h>
#include <arm64/exynos/exynos-pinctrl.h>

&slg51002_ldo1 {
	regulator-min-microvolt = <2250000>;
	regulator-max-microvolt = <2250000>;
};

/* As defined on OTP */
&slg51002_ldo2 {
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
};

&slg51002_ldo3 {
	regulator-min-microvolt = <2800000>;
	regulator-max-microvolt = <2800000>;
};

&slg51002_ldo4 {
	regulator-min-microvolt = <2900000>;
	regulator-max-microvolt = <2900000>;
};

&slg51002_ldo5 {
	regulator-min-microvolt = <2900000>;
	regulator-max-microvolt = <2900000>;
};

/* As defined on OTP */
&slg51002_ldo6 {
	regulator-min-microvolt = <1200000>;
	regulator-max-microvolt = <1200000>;
};

&slg51002_ldo7 {
	regulator-min-microvolt = <1200000>;
	regulator-max-microvolt = <1200000>;
};

/* slg51002_ldo8 is not used */

&s_ldo12_reg {
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
};


&pinctrl_11 {
	hsi2c2_bus: hsi2c2-bus {
		samsung,pin-pud = <EXYNOS_PIN_PULL_UP>;
	};

	hsi2c2_bus_in: hsi2c2-bus-in {
		samsung,pins = "gpp4-0", "gpp4-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <ZUMA_PIN_DRV_X1>;
	};

	hsi2c3_bus: hsi2c3-bus {
		samsung,pin-pud = <EXYNOS_PIN_PULL_UP>;
	};

	hsi2c3_bus_in: hsi2c3-bus-in {
		samsung,pins = "gpp6-0", "gpp6-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <ZUMA_PIN_DRV_X1>;
	};

	hsi2c5_bus: hsi2c5-bus {
		samsung,pin-pud = <EXYNOS_PIN_PULL_UP>;
	};

	hsi2c5_bus_in: hsi2c5-bus-in {
		samsung,pins = "gpp10-0", "gpp10-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-drv = <ZUMA_PIN_DRV_X1>;
	};

	sensor_mclk1_out: sensor-mclk1-out {
		samsung,pin-drv = <ZUMA_PIN_DRV_X3>;
	};
	sensor_mclk1_fn: sensor-mclk1-fn {
		samsung,pin-drv = <ZUMA_PIN_DRV_X3>;
	};
	sensor_mclk2_out: sensor-mclk2-out {
		samsung,pin-drv = <ZUMA_PIN_DRV_X3>;
	};
	sensor_mclk2_fn: sensor-mclk2-fn {
		samsung,pin-drv = <ZUMA_PIN_DRV_X3>;
	};
	sensor_mclk4_out: sensor-mclk4-out {
		samsung,pin-drv = <ZUMA_PIN_DRV_X3>;
	};
	sensor_mclk4_fn: sensor-mclk4-fn {
		samsung,pin-drv = <ZUMA_PIN_DRV_X3>;
	};
};

&pinctrl_12 {
	/* GPP24[1] Flashlight Enable */
	flash_en: flash-en {
		samsung,pins = "gpp24-1";
		samsung,pin-function = <EXYNOS_PIN_FUNC_INPUT>;
		samsung,pin-pud = <EXYNOS_PIN_PULL_NONE>;
		samsung,pin-con-pdn = <EXYNOS_PIN_PDN_PREV>;
		samsung,pin-pud-pdn = <EXYNOS_PIN_PULL_NONE>;
	};
};

&hsi2c_2 {
	#address-cells = <1>;
	#size-cells = <0>;
	gpios = <&gpp4 0 GPIO_ACTIVE_HIGH &gpp4 1 GPIO_ACTIVE_HIGH>;
	status = "okay";
	clock-frequency = <950000>;
	samsung,no_lose_arbitration;
	samsung,reset-before-trans;

	pinctrl-names = "default","on_i2c","off_i2c";
	pinctrl-0 = <&hsi2c2_bus_in>;
	pinctrl-1 = <&hsi2c2_bus>;
	pinctrl-2 = <&hsi2c2_bus_in>;
};

&hsi2c_3 {
	#address-cells = <1>;
	#size-cells = <0>;
	gpios = <&gpp6 0 GPIO_ACTIVE_HIGH &gpp6 1 GPIO_ACTIVE_HIGH>;
	status = "okay";
	clock-frequency = <950000>;
	samsung,no_lose_arbitration;
	samsung,reset-before-trans;

	pinctrl-names = "default","on_i2c","off_i2c";
	pinctrl-0 = <&hsi2c3_bus_in>;
	pinctrl-1 = <&hsi2c3_bus>;
	pinctrl-2 = <&hsi2c3_bus_in>;
};

&hsi2c_4 {
	#address-cells = <1>;
	#size-cells = <0>;
	gpios = <&gpp8 0 GPIO_ACTIVE_HIGH &gpp8 1 GPIO_ACTIVE_HIGH>;
	status = "okay";
	/* Limit to 390KHz due to bottleneck in flash LED driver. */
	clock-frequency = <390000>;
	samsung,no_lose_arbitration;

	pinctrl-names = "default","on_i2c","off_i2c";
	pinctrl-0 = <&hsi2c4_bus &flash_en>;
	pinctrl-1 = <&hsi2c4_bus>;
	pinctrl-2 = <&hsi2c4_bus>;
};

&hsi2c_5 {
	#address-cells = <1>;
	#size-cells = <0>;
	gpios = <&gpp10 0 GPIO_ACTIVE_HIGH &gpp10 1 GPIO_ACTIVE_HIGH>;
	status = "okay";
	clock-frequency = <950000>;
	samsung,no_lose_arbitration;
	samsung,reset-before-trans;
	samsung,hybrid-polling-mode;
	samsung,trailing-count = <0x20000>;

	pinctrl-names = "default","on_i2c","off_i2c";
	pinctrl-0 = <&hsi2c5_bus_in>;
	pinctrl-1 = <&hsi2c5_bus>;
	pinctrl-2 = <&hsi2c5_bus_in>;
};


/ {
	fragment@lwiscamera {
		target-path = "/";
		__overlay__ {
			/* Power sequence for FRONT CAMERA combo */
			front_camera_power_seq: module_power_seq@0 {
				/* Power supplies will be defined on each module. */
				/* Common supplies */
				/* PP3200_BB_CAM pp3200_bb */
				/* PP1350_CAM    pp1350 */
				/* Sensor */
				/* VDDIO         s5mpg15_ldo12 */
				/* VDDA          ldo2          */
				/* VDIG          ldo7          */
				/* RESET         reset         */
				/* MCLK_ON       mclk_on       */
				power-up-seqs =
					"pp3200_bb",
					"pp1350",
					"s2mpg15_ldo12",
					"ldo2",
					"ldo7",
					"reset",
					"mclk_on";
				power-up-seq-types =
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"gpio",
					"pinctrl";
				power-up-seq-delays-us =
					<1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000>;

				power-down-seqs =
					"mclk_off",
					"reset",
					"ldo7",
					"ldo2",
					"s2mpg15_ldo12",
					"pp1350",
					"pp3200_bb";
				power-down-seq-types =
					"pinctrl",
					"gpio",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator";
				power-down-seq-delays-us =
					<1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000>;
			};

			/* Power sequence for REAR MAIN CAMERA combo */
			rear_main_camera_power_seq: module_power_seq@1 {
				/* Power supplies will be defined on each module. */
				/* Common supplies */
				/* PP3200_BB_CAM pp3200_bb */
				/* PP1350_CAM    pp1350 */
				/* VDDIO         s2mpg15_ldo12 */
				/* Actuator , OIS */
				/* AVDD          ldo5 */
				/* AF_VM         ldo4 */
				/* Sensor */
				/* VDDA          ldo1 */
				/* VDIG          vdig_enable */
				/* RESET         reset */
				/* MCLK_ON       mclk_on */
				power-up-seqs =
					"pp3200_bb",
					"pp1350",
					"s2mpg15_ldo12",
					"ldo5",
					"ldo4",
					"ldo1",
					"vdig_enable",
					"reset",
					"mclk_on";
				power-up-seq-types =
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"gpio",
					"gpio",
					"pinctrl";
				power-up-seq-delays-us =
					<1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 10000>;

				power-down-seqs =
					"mclk_off",
					"reset",
					"vdig_enable",
					"ldo1",
					"ldo4",
					"ldo5",
					"s2mpg15_ldo12",
					"pp1350",
					"pp3200_bb";
				power-down-seq-types =
					"pinctrl",
					"gpio",
					"gpio",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator";
				power-down-seq-delays-us =
					<1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000>;
			};

			/* Power sequence for REAR ULTRA WIDE combo */
			rear_uw_camera_power_seq: module_power_seq@2 {
				/* Power supplies will be defined on each module. */
				/* Common supplies */
				/* PP3200_BB_CAM pp3200_bb */
				/* PP1350_CAM    pp1350 */
				/* Sensor */
				/* VIO           s2mpg15_ldo12 */
				/* VANA          ldo3 */
				/* VDIG          ldo6 */
				/* RESET         reset */
				/* MCLK_ON       mclk_on */
				power-up-seqs =
					"pp3200_bb",
					"pp1350",
					"s2mpg15_ldo12",
					"ldo3",
					"ldo6",
					"reset",
					"mclk_on";
				power-up-seq-types =
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"gpio",
					"pinctrl";
				power-up-seq-delays-us =
					<1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000>;

				power-down-seqs =
					"mclk_off",
					"reset",
					"ldo6",
					"ldo3",
					"s2mpg15_ldo12",
					"pp1350",
					"pp3200_bb";
				power-down-seq-types =
					"pinctrl",
					"gpio",
					"regulator",
					"regulator",
					"regulator",
					"regulator",
					"regulator";
				power-down-seq-delays-us =
					<1000
					 1000
					 1000
					 1000
					 1000
					 1000
					 1000>;
			};

			/* REAR CAMERA */
			sensor0: sensor@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "sensor-barghest";

				/* I2C */
				i2c-bus = <&hsi2c_5>;
				i2c-addr = <0x56>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <16>;

				/* GPIOs */
				/* RCAM_RST_L GPP10[2] */
				reset-gpios = <&gpp10 2 GPIO_ACTIVE_HIGH>;
				/* CAM_LVBUCK_EN */
				vdig_enable-gpios = <&s2mpg14_gpio 0 GPIO_ACTIVE_HIGH>; /* VDIG */

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1350-supply = <&cam_pp1350>;
				s2mpg15_ldo12-supply = <&s_ldo12_reg>;
				ldo1-supply = <&slg51002_ldo1>; /* VANA */
				ldo4-supply = <&slg51002_ldo4>; /* AF Driver IC VM */
				ldo5-supply = <&slg51002_ldo5>; /* VCM_DRV_ANA (VDDA) */

				clocks =
					<&clock CIS_CLK3>,
					<&clock GATE_DFTMUX_CMU_CIS_CLK3>;
				clock-names =
					"CIS_CLK3",
					"GATE_DFTMUX_CMU_CIS_CLK3";
				clock-rates =
					<26000000>,
					<0>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk4_fn>;
				pinctrl-1 = <&sensor_mclk4_out>;

				/* Power sequence */
				power-seq = <&rear_main_camera_power_seq>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <0>;
			};

			/* FRONT CAMERA LESHEN */
			sensor1: sensor@1 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "sensor-leshen";

				/* I2C */
				i2c-bus = <&hsi2c_3>;
				i2c-addr = <0x1A>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				/* FCAM_RST_L GPP6[2] */
				reset-gpios = <&gpp6 2 GPIO_ACTIVE_HIGH>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1350-supply = <&cam_pp1350>;
				s2mpg15_ldo12-supply = <&s_ldo12_reg>;
				ldo2-supply = <&slg51002_ldo2>;
				ldo7-supply = <&slg51002_ldo7>;

				clocks =
					<&clock CIS_CLK1>,
					<&clock GATE_DFTMUX_CMU_CIS_CLK1>;
				clock-names =
					"CIS_CLK1",
					"GATE_DFTMUX_CMU_CIS_CLK1";
				clock-rates =
					<24000000>,
					<0>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk2_fn>;
				pinctrl-1 = <&sensor_mclk2_out>;

				/* Power sequence */
				power-seq = <&front_camera_power_seq>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <3>;
			};

			/* REAR ULTRA WIDE CAMERA LESHEN */
			sensor2: sensor@2 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "sensor-leshen-uw";

				/* I2C */
				i2c-bus = <&hsi2c_2>;
				i2c-addr = <0x1A>;
				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				/* RUWCAM_RST_L GPP4[2] */
				reset-gpios = <&gpp4 2 GPIO_ACTIVE_HIGH>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1350-supply = <&cam_pp1350>;
				s2mpg15_ldo12-supply = <&s_ldo12_reg>;
				ldo3-supply = <&slg51002_ldo3>;
				ldo6-supply = <&slg51002_ldo6>;

				clocks =
					<&clock CIS_CLK0>,
					<&clock GATE_DFTMUX_CMU_CIS_CLK0>;
				clock-names =
					"CIS_CLK0",
					"GATE_DFTMUX_CMU_CIS_CLK0";
				clock-rates =
					<24000000>,
					<0>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk1_fn>;
				pinctrl-1 = <&sensor_mclk1_out>;

				/* Power sequence */
				power-seq = <&rear_uw_camera_power_seq>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <2>;
			};

			/* EEPROM for REAR CAMERA */
			eeprom0: eeprom@0 {
				compatible = "google,lwis-i2c-device";
				/* Device node name */
				node-name = "eeprom-nessie";
				/* I2C */
				i2c-bus = <&hsi2c_5>;
				i2c-addr = <0x24>;
				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <32>;

				/* GPIOs */
				/* RCAM_RST_L GPP10[2] */
				reset-gpios = <&gpp10 2 GPIO_ACTIVE_HIGH>;
				/* CAM_LVBUCK_EN */
				vdig_enable-gpios = <&s2mpg14_gpio 0 GPIO_ACTIVE_HIGH>; /* VDIG */

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1350-supply = <&cam_pp1350>;
				s2mpg15_ldo12-supply = <&s_ldo12_reg>;
				ldo1-supply = <&slg51002_ldo1>; /* VANA */
				ldo4-supply = <&slg51002_ldo4>; /* AF Driver IC VM */
				ldo5-supply = <&slg51002_ldo5>; /* VCM_DRV_ANA (VDDA) */

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk4_fn>;
				pinctrl-1 = <&sensor_mclk4_out>;

				/* Power sequence */
				power-seq = <&rear_main_camera_power_seq>;

				i2c-lock-group-id = <0>;
			};

			/* EEPROM for REAR ULTRAWIDE CAMERA */
			eeprom1: eeprom@1 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "eeprom-smaug-leshen-uw";

				/* I2C */
				i2c-bus = <&hsi2c_2>;
				i2c-addr = <0x50>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				/* RUWCAM_RST_L GPP4[2] */
				reset-gpios = <&gpp4 2 GPIO_ACTIVE_HIGH>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1350-supply = <&cam_pp1350>;
				s2mpg15_ldo12-supply = <&s_ldo12_reg>;
				ldo3-supply = <&slg51002_ldo3>;
				ldo6-supply = <&slg51002_ldo6>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk1_fn>;
				pinctrl-1 = <&sensor_mclk1_out>;

				/* Power sequence */
				power-seq = <&rear_uw_camera_power_seq>;

				i2c-lock-group-id = <2>;
			};

			/* EEPROM for FRONT CAMERA LESHEN-UW*/
			eeprom2: eeprom@2 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "eeprom-smaug-leshen";

				/* I2C */
				i2c-bus = <&hsi2c_3>;
				i2c-addr = <0x50>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <8>;

				/* GPIOs */
				/* FCAM_RST_L GPP6[2] */
				reset-gpios = <&gpp6 2 GPIO_ACTIVE_HIGH>;

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1350-supply = <&cam_pp1350>;
				s2mpg15_ldo12-supply = <&s_ldo12_reg>;
				ldo2-supply = <&slg51002_ldo2>;
				ldo7-supply = <&slg51002_ldo7>;

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk2_fn>;
				pinctrl-1 = <&sensor_mclk2_out>;

				/* Power sequence */
				power-seq = <&front_camera_power_seq>;
			};

			/* Actuator for REAR CAMERA */
			actuator0: actuator@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "act-nessie";

				/* I2C */
				i2c-bus = <&hsi2c_5>;
				i2c-addr = <0x24>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <32>;

				/* GPIOs */
				/* RCAM_RST_L GPP10[2] */
				reset-gpios = <&gpp10 2 GPIO_ACTIVE_HIGH>;
				/* CAM_LVBUCK_EN */
				vdig_enable-gpios = <&s2mpg14_gpio 0 GPIO_ACTIVE_HIGH>; /* VDIG */

				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1350-supply = <&cam_pp1350>;
				s2mpg15_ldo12-supply = <&s_ldo12_reg>;
				ldo1-supply = <&slg51002_ldo1>; /* VANA */
				ldo4-supply = <&slg51002_ldo4>; /* AF Driver IC VM */
				ldo5-supply = <&slg51002_ldo5>; /* VCM_DRV_ANA (VDDA) */

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk4_fn>;
				pinctrl-1 = <&sensor_mclk4_out>;

				/* Power sequence */
				power-seq = <&rear_main_camera_power_seq>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <0>;
			};

			/* OIS for REAR CAMERA */
			ois0: ois@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "ois-nessie";

				/* I2C */
				i2c-bus = <&hsi2c_5>;
				i2c-addr = <0x24>;

				/* Registers */
				reg-addr-bitwidth = <16>;
				reg-value-bitwidth = <32>;

				/* GPIOs */
				/* RCAM_RST_L GPP10[2] */
				reset-gpios = <&gpp10 2 GPIO_ACTIVE_HIGH>;
				/* CAM_LVBUCK_EN */
				vdig_enable-gpios = <&s2mpg14_gpio 0 GPIO_ACTIVE_HIGH>; /* VDIG */


				/* Power supplies */
				pp3200_bb-supply = <&cam_pp3200_bb>;
				pp1350-supply = <&cam_pp1350>;
				s2mpg15_ldo12-supply = <&s_ldo12_reg>;
				ldo1-supply = <&slg51002_ldo1>; /* VANA */
				ldo4-supply = <&slg51002_ldo4>; /* AF Driver IC VM */
				ldo5-supply = <&slg51002_ldo5>; /* VCM_DRV_ANA (VDDA) */

				/* MCLK Control */
				pinctrl-names = "mclk_on", "mclk_off";
				pinctrl-0 = <&sensor_mclk4_fn>;
				pinctrl-1 = <&sensor_mclk4_out>;

				/* Power sequence */
				power-seq = <&rear_main_camera_power_seq>;

				/* Thread priority */
				transaction-thread-priority = <99>;

				i2c-lock-group-id = <0>;
			};

			flash0: flash@0 {
				compatible = "google,lwis-i2c-device";

				/* Device node name */
				node-name = "flash-lm3644";

				/* I2C */
				i2c-bus = <&hsi2c_4>;
				i2c-addr = <0x63>;

				/* Registers */
				reg-addr-bitwidth = <8>;
				reg-value-bitwidth = <8>;

				/* Power Management hibernation (deep sleep) */
				/* 1 : enable, 0 : disable */
				pm-hibernation = <0>;

				/* GPIOs */
				/* FLASH_EN GPP24[1] */
				enable-gpios =
					<&gpp24 1 GPIO_ACTIVE_HIGH>;
			};
		};
	};
};
